h1,
h3,
p,
a,
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[class*="col-"] {
    padding: 5px;
}

.onepage {
    height: 1000PX;
}

.onepage-bg {
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

#onepagebg {
    background-image: url("img/1.jpg");
    height: 1000px;
}

.headh1content {
    line-height: 75px;
}

.title-text {
    margin-top: 300px;
    margin-left: 800px;
}

.headfontsize h1 {
    font-size: 50pt;
    color: white;
}

.headfontsize .headerpdetail {
    margin-top: 50px;
}

.headfontsize p {
    color: white;
}

.twopage {
    padding: 2px 0 0 2px;
    background-image: url("img/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 1000px;
}

.twopage-text {
    width: 100%;
    text-align: center;
}

.twopage-text-h1 {
    margin-left: 120px;
    letter-spacing: 2px;
    margin-top: 80px;
}

.twopage-text-h1 img {
    width: 120px;
}

.twopage .row {
    margin-right: 0px;
    margin-left: 0px;
}

.twopage-couses {
    float: left;
    background-color: rgb(134, 49, 49);
    padding: 0 2px 2px 0;
    position: relative;
    overflow: hidden;
}

.twopage-couses>a {
    /* >a表示只选择第一代的a子元素*/
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.classicon h3 {
    margin-top: 120px;
    color: #d1e973;
}

.classicon h1 {
    color: #fff5e1;
}

.classicon {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    color: white;
    opacity: 0;
    text-align: center;
}

.classicon:hover {
    background: #1eb450;
    opacity: 0.8;
    transition: opacity 0.5s;
    -webkit-transition: opacity 1s;
}

.twopagebtn {
    width: 100%;
    margin: 0% auto;
    text-align: center;
}

.twopagebtn .btn-lg {
    font-size: 21px;
}

#twopage-easy {
    margin: 50px 0;
    margin-bottom: 100px;
}

.threepage {
    position: absolute;
    width: 100%;
    height: 800px;
}

.threepage-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#threepagebg {
    background-image: url("img/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

.threepagecontent {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.threepagetext {
    margin-top: 240px;
    color: white;
}

.threepagetext p {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    line-height: 32px;
}

.threepagebtncontent {
    margin-top: 450px;
    font-size: 25px;
}

.fourpage {
    background-image: url("img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    margin-top: 1000px;
}

.coursexingqing-text {
    color: white;
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.coursexingqing-text p {
    margin-top: 25px;
    font-size: 20px;
}

.fourpage .container .carousel {
    margin-top: 180px;
}

/*为了让翻页箭头垂直居中,向上调一些*/
.carousel-control {
    margin-top: -100px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}


.carousel-inner div {
    text-align: center;
    width: 1140px;
    height: 256px;
}

.carousel-inner .item img {
    /* 图片不在是块级元素后,父div的text-align: center生效 */
    display: inline;
}

.fivepagebg {
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
}

#fivepage {
    background-image: url("img/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

.footertext {
    margin-top: 155px;
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footerbtncenter {
    margin-top: 210px;
    text-align: center;
}

.queryicon {
    width: 200px;
    vertical-align: -webkit-baseline-middle;
}

.queryicon:hover {
    border: 2px solid;
    border-color: greenyellow;
    transition: border-color 0.5s;
    /* opacity: .25;
    transition: opacity 0.5s; */
}

.footertextbtn {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

h1:hover,
a:hover,
p:hover {
    opacity: .5;
    transition: opacity 0.5s;
}