<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>起步</title>
    <script src="../_package/vue/vue.js"></script>
</head>

<body>
    <ul style="list-style-image:url(img/vue.png);">
        <li id="app-1">{{key}}-{{valuexx}}-{{valueyy}}</li>
        <li id="app-2">
            <p v-bind:title="message">鼠标悬停</p>
        </li>
        <li id="app-3" v-if="seen">当seen为false或0时,隐藏此段文字</li>
        <li id="app-4">
            <ul style="list-style-image:none">
                <li v-for="word in words">{{word.text + word.type}}</li>
            </ul>
        </li>
        <li id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">逆转消息</button>
        </li>
        <li id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </li>
        <li id="app-7">
            <ol style="list-style-image:none">
                <!--
                    现在我们为每个 todo-item 提供 todo 对象todo 对象是变量，即其内容可以是动态的。
                    我们也需要为每个组件提供一个“key”，稍后再作详细解释。
                -->
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
                </todo-item>
            </ol>
        </li>
        <li id="test-li">
            <p><b>双向更改文本值,类似Binding</b></p>
            <input id="test" type="text" v-model="testvalue" /><br>
            {{testvalue}}<br>
            <button v-on:click="testChangeValue">更改testvalue值</button><br>
            <input id="test2" type="text" v-model="testvalue2" /><br>
            {{testvalue2}}<br>
            <input id="test3" type="text" v-model="testvalue3" /><br>
            {{testvalue3}}<br>
        </li>
    </ul>
</body>

<script>
    var app = new Vue({
        el: "#app-1",
        data: {
            key: "关键字",
            valuexx: "[X值]",
            valueyy: "[y值]"
        }
    })
    var app2 = new Vue({
        el: "#app-2",
        data: {
            message: "悬停弹出信息",
        }
    })
    var app3 = new Vue({
        el: "#app-3",
        data: {
            seen: true
        }
    })
    var app4 = new Vue({
        el: "#app-4",
        data: {
            words: [{
                    text: "Nothing Serious",
                    type: "[A]"
                },
                {
                    text: "Challenge Everything",
                    type: "[A]"
                }
            ]
        }
    })
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    })
    // 定义名为 todo-item 的新组件
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })
    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [{
                    id: 0,
                    text: '蔬菜'
                },
                {
                    id: 1,
                    text: '奶酪'
                },
                {
                    id: 2,
                    text: '蛋糕🎂'
                }
            ]
        }
    })
    var test_li = new Vue({
        el: "#test-li",
        data: {
            testvalue: "初始值",
            testvalue2: "初始值2",
            //如果不在data里声明变量,双向绑定失效
            //testvalue3: "初始值3",
        },
        methods: {
            testChangeValue: function () {
                this.testvalue = "new value";
            }
        }
    })
</script>

</html>