.progress_bar_point .pro-bar {
    /*进度条背景颜色*/
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height: 4px;
    margin-bottom: 12px;
    margin-top: 50px;
    position: relative;
}

.progress_bar_point .progress_bar_point_title {
    /*进度条文本默认颜色*/
    color: black;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    top: -28px;
    z-index: 1;
}

.progress_bar_point .progress_number {
    float: right;
    margin-top: -24px;
}

.progress_bar_point .progress_bar_inner {
    /*进度条默认颜色*/
    background-color: darkmagenta;
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
    animation: animate-positive 1s;
}

.progress_bar_point .progress_bar_inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}

.progress_bar_point .progress_bar_inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}